<div class="mainPanel group section">
  <div class="panelAdjust">
    <div class="panel col span_1_of_2">
      <h2>First Panel</h2>
    </div>
    <div class="panel col span_1_of_2">
      <h2>Second Panel</h2>
    </div>
  </div>
</div>