{% include scripts %}
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<script src="js/lib/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/lib/underscore.min.js" type="text/javascript"></script>

<div class="container">
  <h2>Volume Test</h2>
  <div id="zones" class="row"></div>
  
  <script type="text/javascript">
    $(function(){
      //Empty current zones div
      $('#zones').html('');
      
      //Retrieve connected audio zones
      $.get('http://localhost:8000/api/audio', function(data){
        data.zones.forEach(function(z){
          //Parse template for zone and append in view
          $('#zones').append(_.template($('#zone-volume-tmpl').html(), z));
          
          //Activate zone's volume slider
          $('#slider-'+z.zone_id).slider({ value:z.volume, min:0, max:100, step:1, orientation:'vertical',
            change:function(evt, ui){
              var volume = ui.value;
              if(isNaN(volume)) return;
                            
              //Update view with value
              $('#value'+z.zone_id).html(volume);
                            
              //Perform action with API
              $.ajax({
                url:'http://localhost:8000/api/audio/'+z.zone_id,
                type:'post',
                dataType:'json',
                data:{ volume:volume }
              });
            },
            
            slide:function(evt, ui){
              $('#volume-'+z.zone_id).html(ui.value);
            }
          });
        });
        //end get
      });
    });
  </script>
  
  <script type="text/template" id="zone-volume-tmpl">
    <div class="span3">
      <h5><%= name %></h5>
      <div id="slider-<%= zone_id %>"></div>
      <br>
      <b id="volume-<%= zone_id %>"><%= volume %></b>
    </div>
  </script>
</div>
