<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery-1.10.2.js", type="text/javascript"></script>
<script src="js/jquery-ui.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>

<div class="container">
  <h2>Volume Test</h2>
  <div class="row">
  {% for (var i=1; i<=8; i++) { %}
    <div class="span3">
      <h5>Zone {%= i %}</h5>
      <div id="slider{%= i %}"></div>
      <br>
      <b id="value{%= i %}">0</b>

  	  <script type="text/javascript">
  	  $('#slider{%= i %}').slider({
  	    value:0, min:0, max:100, step:1, orientation:'vertical',
  	    change:function(evt, ui){
  	      var val = ui.value;
  	      //Update view with value
  	      $('#value{%= i %}').html(val);
  	      //Perform action with API
  	      $.ajax({
        		url:'http://localhost:8000/audio',
        		type:'post',
        		dataType:'json',
        		data:{
        		  zone:{%= i %},
        		  volume:val,
        		},
        		success:function(data){
        		  console.log('Finished: '+val);
        		},
  	      });
  	    }
  	  });
     	</script>
    </div>
  {% }; %}
  </div>
</div>
