!!! 5
html(ng-app="peak")

head
  title WVU Peak Home System
  link(rel='stylesheet', href='css/bootstrap.min.css')
  script(type='text/javascript', href='js/lib/jquery.min.js')
  script(type='text/javascript', href='js/lib/angular.min.js')
  script(type='text/javascript', href='js/controllers.js')
  block scripts

body
  block content
