<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h2>{{ user.realname }}</h2>
  <form action="/logout" action="GET">
    <input type="submit" value="Logout"/>
  </form>
  <script type="text/javascript">
    console.log("{{user}}")
  </script>
</body>
</html>