<!DOCTYPE html>
<html ng-app="peakApp">
  <head>
    <title>Peak User Interface</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" src="/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/lib/angular/angular-resource.js"></script>
  </head>
  
  <body>
    <div class="sidePanel">
      <div class="panelHeader">
        <header id="headerImg" ng-click="home()"></header>
      </div>
      <ul class="panelNav">
        <li class="navHeader">Services</li>
        <li class="active"><a href="#/energy"><span class="icon li_star"></span>Energy</a></li>
        <li><a href="/hvac"><span class="icon li_params"></span>HVAC</a></li>
        <li><a href="/lighting"><span class="icon li_bulb"></span>Lighting</a></li>
        <li><a href="/media"><span class="icon li_music"></span>Media</a></li>
        <li class="navHeader">Zones</li>
      </ul>
    </div>
    <div class="topPanel">
      <div class="panelControl">
        <input type="text" id="shell" />
      </div>
    </div>
    <div ng-view>
    
    <script type="text/javascript" src="/js/application.js"></script>
    <script type="text/javascript" src="/js/controllers.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/filters.js"></script>
    <script type="text/javascript" src="/js/services.js"></script>
  </body>
</html>
