<!DOCTYPE html>
<html>
<head>
	<title>Peak Home Automation</title>

  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="js/jquery.min.js", type="text/javascript"></script>
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
	{% block content %}
  
  {% endblock %}

	<footer class="footer">
		<div class="container center-content">
			FOOTER
		</div>
	</footer>
</body>
</html>