<!DOCTYPE html>
<html>
<head>
  <title>Peak Home Automation</title>
  
  <link src="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <script src="js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
  {%- include audio %}
</body>
</html>