div(class="navbar")
  div(class="navbar-inner")
    div(class="container content-navbar")
      a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="brand", href="/") Peak
      div(class="nav-collapse collapse", id="main-menu")
        ul(class="nav", id="main-menu-left")
          li(id="hvac")
            a(href="/hvac") HVAC
          li(id="energy")
            a(href="/energy") Energy