@import url("grid.css");
@import url("fonts.css");
/*  Less Framework 4
    http://lessframework.com
    by Joni Korpi
    License: http://opensource.org/licenses/mit-license.php
*/


/*	Font Face
	------	*/

@font-face {
	font-family: Lato;
	src: url('../fonts/Lato-Regular.ttf');
}

/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}



/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 72px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
  font: 300 18px/28px Helvetica, Arial, sans-serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(0,0,0); color:white;}
::-moz-selection 	{background: rgb(0,0,0); color:white;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(0,0,0); color:white;}



/*		Default Layout: 992px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
  overflow-x:hidden;
  background: #ecf0f1;
  color: rgb(60,60,60);
  display: table;
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

a {
  display:block;
  text-decoration:none;
}

p {
  margin: 24px 0 0;
}

.topPanel {
  z-index: 5;
  position:fixed;
  width: 100%;
  background: white;
  border-bottom: 1px solid #cbcbcb;
}

.sidePanel {
  z-index: 10;
  position: fixed;
  background: #2c3e50;
  display: table-column;
  width: 180px;
  height: 100%;
}

.mainPanel {
  z-index:0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.icon {
  display:inline-block;
  vertical-align:middle;
  margin: 0 12px 0 0;
}

.topPanel,
.sidePanel .panelHeader {
  height: 70px;
}

.topPanel .panelControl {
  margin: 0 0 0 180px;
}
.topPanel .panelControl > input#shell {
  height: 68px;
  border: 0;
  margin: 0;
  padding: 0 24px;
  width: 100%;
  font: 32px/38px Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
.sidePanel .panelHeader {}
.sidePanel .panelHeader > header {
  color: whitesmoke;
  font: 300 32px/36px Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 70px;
  margin: 0 24px;
}
.sidePanel .panelHeader > header#headerImg {
  background: url("../img/peak-logo.png");
  height: 70px;
  background-size: cover;
}
.sidePanel .panelNav {
  list-style: none;
}
.sidePanel .panelNav > li.navHeader {
  background: rgba(22,22,22,0.2);
  color: #95a5a6;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 0 24px;
}
.sidePanel .panelNav > li.navHeader:hover {
  border-right: 0px;
}
.sidePanel .panelNav > li {
  font: 16px/36px Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 1px;
  line-height: 42px;
}
.sidePanel .panelNav > li > a {
  padding: 0 0 0 24px;
  color: #bdc3c7;
}
.sidePanel .panelNav > li > a:hover {
  border-right: 4px solid #e67e22;
}
.sidePanel .panelNav > li.active > a {
  border-right: 4px solid #d35400;
  color: #d35400;
}

.mainPanel .panelAdjust {
  margin: 70px 0 0 180px;
}
.mainPanel .panelAdjust > div.panel {

}
.mainPanel .panelAdjust > div.panel:hover {
  background: #dce4ec;
}
.mainPanel .panelAdjust > div.panel h2 {
  font: 42px/48px SourceSansPro, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 48px 48px 0;
}

@media only screen and (max-width: 1160px) {



}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  body {
    width:inherit;
  }

}



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {



}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {



}
 

/* Switch button CSS from http://proto.io/freebies/onoff/
 * Extremely customizable buttons, sliders, animations, etc.
 */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
