<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>

<ul>
{% for (var zone in audio_zones) { %}
  
  <li id="zone{% zone.id %}">
    <h3>Zone</h3>
    <div id="slider{% zone.id %}">
    <script type="text/javascript">
    $('#slider'+zone.id).slider({
      min:0, max:100, step:1, orientation:'vertical',
      slide:function(evt, ui){
        var val = ui.value;
        //Update view with value
        $('#value').html(val);
        //Perform action with API
        $.ajax({
          url:'http://localhost:8000/audio',
          type:'post',
          dataType:'json',
          data:{
            zone:2,
            volume:val,
          },
          success:function(data){
            console.log('Finished: '+val);
          },
        });
      }
    });
    </script>
  </li>
{% }; %}
</ul>